<p-toast></p-toast>
<p class="loading" *ngIf="loading">Đang tải dữ liệu</p>
<p-progressBar
  *ngIf="loading"
  mode="indeterminate"
  [style]="{ height: '6px' }"
></p-progressBar>
<div class="card" *ngIf="!loading">
  <p-toolbar styleClass="p-mb-4">

    <ng-template pTemplate="right">
      <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileItem]="1000000" label="Import" chooseLabel="Import"
                class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Search..."
        />
      </span>
    </ng-template>
  </p-toolbar>
  <p-table
    #dt
    [value]="displayItemes"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name', 'description']"
    [rowHover]="true"
    dataKey="id"
  >
    <!-- <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Items</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template> -->
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Món ăn <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Kích thước <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Số lượng <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Giá <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="name">
          Giảm giá <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="description">
          Chú thích <p-sortIcon field="description"></p-sortIcon>
        </th>

        <!-- <th pSortableColumn="updatedUser">Người sửa cuối <p-sortIcon field="updatedUser"></p-sortIcon></th> -->
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.food.name }}</td>
        <td>{{ item.size.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.discount }}</td>
        <td>{{ item.description }}</td>

        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-info p-mr-2"
            (click)="editItem(item)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-danger"
            (click)="deleteItem(item)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <!-- <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{items ? items.length : 0 }} items.
      </div>
    </ng-template> -->
  </p-table>
</div>

<p-dialog
  [(visible)]="itemDialog"
  [style]="{ width: '450px' }"
  header="Chi tiết"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name" class="my-lable">Số lượng</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="item.quantity"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !item.food.name"
        >Name is required.</small
      >
    </div>

    <div class="p-field">
      <label for="description" class="my-lable">Giá</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="item.price"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>

    <div class="p-field">
      <label for="description" class="my-lable">Giảm giá</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="item.discount"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>

    <div class="p-field">
      <label for="description" class="my-lable">Mô tả</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="item.description"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveItem()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
