<p-toast></p-toast>
<p class="loading" *ngIf="loading">Đang tải dữ liệu</p>
<p-progressBar
  *ngIf="loading"
  mode="indeterminate"
  [style]="{ height: '6px' }"
></p-progressBar>
<div class="card" *ngIf="!loading">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Thêm thức ăn"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileFood]="1000000" label="Import" chooseLabel="Import"
                class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Search..."
        />
      </span>
    </ng-template>
  </p-toolbar>
  <p-table
    #dt
    [value]="displayFoodes"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name', 'description']"
    [rowHover]="true"
    dataKey="id"
  >
    <!-- <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Foods</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template> -->
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Tên <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th>Image</th>
        <th pSortableColumn="nameCategory">
          Đơn vị <p-sortIcon field="nameCategory"></p-sortIcon>
        </th>
        <th pSortableColumn="description">
          Chú thích <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="created">
          Ngày tạo <p-sortIcon field="created"></p-sortIcon>
        </th>
        <!-- <th pSortableColumn="createdUser">Người tạo <p-sortIcon field="createdUser"></p-sortIcon></th> -->
        <th pSortableColumn="updated">
          Ngày sửa <p-sortIcon field="updated"></p-sortIcon>
        </th>
        <!-- <th pSortableColumn="updatedUser">Người sửa cuối <p-sortIcon field="updatedUser"></p-sortIcon></th> -->
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-food>
      <tr>
        <td>{{ food.name }}</td>
        <td><img [src]="food.domSanitizer" width="100" /></td>
        <td>{{ food.category?.name }}</td>
        <td>{{ food.description }}</td>
        <td>
          {{ food.created | date : "dd/MM/yyyy" }} |
          {{ food.createdUser?.userName }}
        </td>
        <td>
          {{ food.updated | date : "dd/MM/yyyy" }} |
          {{ food.updatedUser?.userName }}
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-info p-mr-2"
            (click)="editFood(food)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-danger"
            (click)="deleteFood(food)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <!-- <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{foods ? foods.length : 0 }} foods.
      </div>
    </ng-template> -->
  </p-table>
</div>

<p-dialog
  [(visible)]="foodDialog"
  [style]="{ width: '450px', height: '600px' }"
  header="Chi tiết thức ăn"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name" class="my-lable">Tên</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="food.name"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !food.name"
        >Name is required.</small
      >
    </div>

    <div class="p-field">
      <label for="category" class="my-lable">Tên</label>
      <button
        pButton
        type="button"
        [label]="label"
        (click)="openImageDialog()"
      ></button>
      <p-dialog
        [(visible)]="imageDialog"
        [style]="{ width: '1100px', height: '800px', position: 'absolute' }"
        header="Chọn ảnh"
        [modal]="true"
        styleClass="p-fluid"
        [resizable]="true"
      >
        <div class="card-container">
          <p-card
            *ngFor="let item of imagePathArr"
            [subheader]="item.name"
            [style]="{ width: '300px' }"
            styleClass="p-card-shadow"
          >
            <ng-template pTemplate="header">
              <img [src]="item.imagePath" width="300" />
              <button
                pButton
                type="button"
                [label]="label"
                (click)="selectIMG(item)"
              ></button>
            </ng-template>
          </p-card>
        </div>
      </p-dialog>
      <small class="p-invalid" *ngIf="submitted && !food.name"
        >Category is required.</small
      >
    </div>

    <div class="p-field">
      <label for="category" class="my-lable">Chọn thể loại</label>
      <p-dropdown
        [options]="categorys"
        [(ngModel)]="selectedCategory"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Chọn thể loại"
        class="p-mr-2"
        autoWidth="false"
        [style]="{ width: '300px' }"
        (onChange)="onChangeDropDown()"
      >
        <ng-template pTemplate="selectedItem">
          <div
            class="category-item country-item-value"
            *ngIf="selectedCategory"
          >
            <div>{{ selectedCategory.name }}</div>
          </div>
        </ng-template>
        <ng-template let-category pTemplate="item">
          <div class="category-item">
            <div>{{ category.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <small class="p-invalid" *ngIf="submitted && !food.name"
        >Category is required.</small
      >
    </div>

    <div class="p-field">
      <label for="description" class="my-lable">Mô tả</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="food.description"
        required
        rows="10"
        cols="20"
      ></textarea>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveFood()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
