<p-toast></p-toast>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 text-black">
      <div class="row d-flex align-items-center h-custom-2 px-5 ms-xl-4 pt-5 pt-xl-0 mt-xl-n5">
        <div class="col-1"></div>
        <div class=" col-6">
          <form style="width: 23rem">
            <h3 class=" mb-3 pb-3 display-4" style="letter-spacing: 1px">
              Đăng nhập
            </h3>

            <div class="form-outline mb-4">
              <label class="form-label text-muted" for="username">Username</label>
              <input type="text" id="username" class="form-control form-control-lg" [(ngModel)]="username" name="username"/>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label text-muted" for="password">Password</label>
              <input type="password" id="password" class="form-control form-control-lg"  [(ngModel)]="password" name="password"/>
            </div>



            <div class="pt-1 mb-4">
              <button class="btn btn-outline-primary" type="button" (click)="login()">
                Đăng nhập
              </button>
            </div>

            <p class="text-danger" *ngIf="isError">{{errorString}}</p>

          </form>
        </div>
      </div>

    </div>
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <img src="https://images.unsplash.com/photo-1578474846511-04ba529f0b88?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" alt="Login image"
        class="w-100 vh-100" style="object-fit: cover; object-position: left" />
    </div>
  </div>
</div>
