<p-toast></p-toast>
<p class="loading" *ngIf="loading">Đang tải dữ liệu</p>
<p-progressBar
  *ngIf="loading"
  mode="indeterminate"
  [style]="{ height: '6px' }"
></p-progressBar>
<div class="card" *ngIf="!loading">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Thêm nhà hàng" icon="pi pi-plus" class="p-button-success p-mr-2"
        (click)="openNew()"></button>
        <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
    </ng-template>

    <ng-template pTemplate="right">
      <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Search..." />
      </span>
    </ng-template>
  </p-toolbar>
  <p-table #dt [value]="restaurants" [rows]="10" [paginator]="true"
    [globalFilterFields]="['name','description','phone','address']" [rowHover]="true" dataKey="id">
    <!-- <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Restaurants</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template> -->
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name" style="width: 300px;">Tên <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="address" style="width: 400px;">Địa chỉ <p-sortIcon field="address"></p-sortIcon></th>
        <th pSortableColumn="phone" style="width: 200px;">Điện thoại <p-sortIcon field="phone"></p-sortIcon></th>
        <th pSortableColumn="description" style="width: 200px;">Chú thích <p-sortIcon field="description"></p-sortIcon></th>
        <th pSortableColumn="created" style="width: 200px;">Ngày tạo <p-sortIcon field="created"></p-sortIcon></th>
        <!-- <th pSortableColumn="createdUser">Người tạo <p-sortIcon field="createdUser"></p-sortIcon></th> -->
        <th pSortableColumn="updated" style="width: 200px;">Ngày sửa <p-sortIcon field="updated"></p-sortIcon></th>
        <!-- <th pSortableColumn="updatedUser">Người sửa cuối <p-sortIcon field="updatedUser"></p-sortIcon></th> -->
        <th style="width: 140px;" ></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-restaurant>
      <tr>
        <td>{{restaurant.name}}</td>
        <td>{{restaurant.address}}</td>
        <td>{{restaurant.phone}}</td>
        <td>{{restaurant.description}}</td>
        <td>{{restaurant.created | date:"dd/MM/yyyy"}} | {{restaurant.createdUser?.userName}}</td>
        <td>{{restaurant.updated | date:"dd/MM/yyyy"}} | {{restaurant.updatedUser?.userName}}</td>
        <td style="text-align: center">
          <button pButton pRipple icon="pi pi-pencil" class="p-button-info p-mr-2"
            (click)="editRestaurant(restaurant)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-danger"
            (click)="deleteRestaurant(restaurant)"></button>
        </td>
      </tr>
    </ng-template>
    <!-- <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{restaurants ? restaurants.length : 0 }} restaurants.
      </div>
    </ng-template> -->
  </p-table>
</div>

<p-dialog [(visible)]="restaurantDialog" [style]="{width: '450px'}" header="Chi tiết nhà hàng" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">

    <div class="p-field ">
      <label for="name" class="my-lable">Tên</label>
      <input type="text" pInputText id="name" [(ngModel)]="restaurant.name" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !restaurant.name">Name is required.</small>
    </div>

    <div class="p-field ">
      <label for="address" class="my-lable">Địa chỉ</label>
      <input id="address" pInputTextarea [(ngModel)]="restaurant.address" required rows="3"
        cols="20"/>
    </div>

    <div class="p-field ">
      <label for="Phone" class="my-lable">Điện thoại</label>
      <input id="Phone" pInputTextarea [(ngModel)]="restaurant.phone" required rows="3"
        cols="20"/>
    </div>

    <div class="p-field ">
      <label for="description" class="my-lable">Mô tả</label>
      <textarea id="description" pInputTextarea [(ngModel)]="restaurant.description" required rows="3"
        cols="20"></textarea>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveRestaurant()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
