<p-toast></p-toast>
<p class="loading" *ngIf="loading">Đang tải dữ liệu</p>
<p-progressBar
  *ngIf="loading"
  mode="indeterminate"
  [style]="{ height: '6px' }"
></p-progressBar>
<div class="card" *ngIf="!loading">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Thêm kích thước"
        icon="pi pi-plus"
        class="p-button-success p-mr-2"
        (click)="openNew()"
      ></button>
    </ng-template>

    <ng-template pTemplate="right">
      <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="dt.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Search..."
        />
      </span>
    </ng-template>
  </p-toolbar>
  <p-table
    #dt
    [value]="displaySizees"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name', 'description']"
    [rowHover]="true"
    dataKey="id"
  >
    <!-- <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Sizes</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template> -->
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">
          Tên <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="nameUnit">
          Đơn vị <p-sortIcon field="nameUnit"></p-sortIcon>
        </th>
        <th pSortableColumn="description">
          Chú thích <p-sortIcon field="description"></p-sortIcon>
        </th>
        <th pSortableColumn="created">
          Ngày tạo <p-sortIcon field="created"></p-sortIcon>
        </th>
        <!-- <th pSortableColumn="createdUser">Người tạo <p-sortIcon field="createdUser"></p-sortIcon></th> -->
        <th pSortableColumn="updated">
          Ngày sửa <p-sortIcon field="updated"></p-sortIcon>
        </th>
        <!-- <th pSortableColumn="updatedUser">Người sửa cuối <p-sortIcon field="updatedUser"></p-sortIcon></th> -->
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-size>
      <tr>
        <td>{{ size.name }}</td>
        <td>{{ size.unit?.name }}</td>
        <td>{{ size.description }}</td>
        <td>
          {{ size.created | date : "dd/MM/yyyy" }} |
          {{ size.createdUser?.userName }}
        </td>
        <td>
          {{ size.updated | date : "dd/MM/yyyy" }} |
          {{ size.updatedUser?.userName }}
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-info p-mr-2"
            (click)="editSize(size)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-danger"
            (click)="deleteSize(size)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <!-- <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{sizes ? sizes.length : 0 }} sizes.
      </div>
    </ng-template> -->
  </p-table>
</div>

<p-dialog
  [(visible)]="sizeDialog"
  [style]="{ width: '450px', height: '64 0px'}"
  header="Chi tiết kích cỡ"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">

    <div class="p-field">
      <label for="name" class="my-lable">Tên</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="size.name"
        required
        autofocus
      />
      <small class="p-invalid" *ngIf="submitted && !size.name"
        >Name is required.</small
      >
    </div>

    <div class="p-field">
      <label for="unit" class="my-lable">Chọn thể loại</label>
      <p-dropdown
        [options]="units"
        [(ngModel)]="selectedUnit"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        placeholder="Chọn thể loại"
        class="p-mr-2"
        autoWidth="false"
        [style]="{ width: '300px' }"
      >
        <ng-template pTemplate="selectedItem">
          <div
            class="unit-item country-item-value"
            *ngIf="selectedUnit"
          >
            <div>{{ selectedUnit.name }}</div>
          </div>
        </ng-template>
        <ng-template let-unit pTemplate="item">
          <div class="unit-item">
            <div>{{ unit.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <small class="p-invalid" *ngIf="submitted && !size.name"
        >Unit is required.</small
      >
    </div>

    <div class="p-field">
      <label for="description" class="my-lable">Mô tả</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="size.description"
        required
        rows="3"
        cols="20"
      ></textarea>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveSize()"
    ></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
